name: fates-tutorial

services:
  landmodel:
    image: ngeetropics/elm-builds:elm_v3.0.0-fates_sci.1.76.4_api.35.1.0
    container_name: elm-fates
    hostname: docker
    user: modeluser
    stdin_open: true
    tty: true
    volumes:
      - type: bind
        source: ${SCRIPT_DIR}
        target: /scripts
      - type: bind
        source: ${PARAM_DIR}
        target: /paramfiles
      - type: bind
        source: ${INVENTORY_DATA}
        target: /inventorydata
      - ${INPUT_DATA}:/inputdata
      - modeloutput:/output
  notebook:
    image: ngeetropics/fates-tutorial-jupyter:latest
    container_name: tutorial-notebook
    ports:
      - 8888:8888
    volumes:
      - type: bind
        source: ${PARAM_DIR}
        target: /home/${NB_USER}/paramfiles
      - type: bind
        source: ${INVENTORY_DATA}
        target: /home/${NB_USER}/inventorydata
      - ${INPUT_DATA}:/home/${NB_USER}/inputdata
      - modeloutput:/home/${NB_USER}/output
volumes:
  modeloutput:
