name: fates-tutorial

services:
  landmodel:
    image: ngeetropics/elm-builds:elm_v3.0.0-fates_sci.1.76.4_api.35.1.0
    container_name: elm-fates
    stdin_open: true
    tty: true
    # TODO: the scripts mount is relative to where the yaml file is.
    # This needs restructing
    volumes:
      - inputdata:/inputdata
      - modeloutput:/output
      - ./scripts:/scripts
  notebook:
    image: ngeetropics/fates-tutorial-jupyter:latest
    container_name: tutorial-notebook
    ports:
      - 8888:8888
    volumes:
      - inputdata:/inputdata
      - modeloutput:/output
volumes:
  inputdata:
  modeloutput:
