name: Docker image build - base OS

on:
  push:
    branches: [ "ngeet-2024" ]
  pull_request:
    branches: [ "ngeet-2024" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        # os: [ubuntu-latest]
        os: [ubuntu-latest, macos-14]
    runs-on: ${{matrix.os}}
    
    steps:
    - name: checkout
      uses: actions/checkout@v4
    
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3.6.1
      env:
          DOCKER_CONFIG: docker/baseos/gcc1120

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: "{{defaultContext}}:docker/baseos/gcc1120"
        push: true
        tags: ngeetropics/baseos:testbuild-${{runner.arch}}
